@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap');

:root{
    --nav-btn-color: rgb(0, 86, 210);
    --nav-btn-hover-color:#00419e;
    --btn-background-color:#0056d2;
    --btn-border-color:#0056d2;
    --btn1-border-hover-color:#00419e;
    --btn1-background-hover-color:#00419e;
    --btn2-background-hover-color:#f3f8ff;
    --btn2-hover-font-color:#00416e;
    --btn2-border-hover-color:#00419e;
    --login-color:#0062e4;

    --body-color:#373a3c;
    --background-color: #fff;

    --line-color:#d7d7d7;

    --font-color:#1f1f1f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source sans pro',sans-serif;
    scroll-behavior: smooth;
  }
  html{
    scroll-behavior: smooth;
  }
  body{
    color: var(--body-color);
    background: var(--background-color);
    margin: 2rem 0 0 0;
    transition: .5s ease;
  }
  a{
    text-decoration: none;
    color: black;
  }
  li{
    list-style: none;
  }
  .flex-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* nav-bar */
  .search-page{
    display: none;
  }
  #page a{
    display: none;
  }
  .nav{
    width: 100%;
    position:fixed ;
    top: 0;
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid var(--line-color);
    background: var(--background-color);
    z-index: 10;
  }
  .left-section{
    width: 35%;
    margin-left: 20px;
  }
  .left-section .logo{
    width: 24%;
    cursor: pointer;
  }
  .left-section .logo img{
    width: 100%;
  }
  .left-section .btn{
    background-color: var(--nav-btn-color);
    color: #fff;
    font-weight: 600;
    border: 1px solid var(--nav-btn-color);
    border-radius: 4px;
    padding: 10px 14px 10px 14px ;
    font-size: 14px;
  }
  .left-section .search-box{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--font-color);
  }
  .left-section .search-box input{
    width: 100%;
    padding: 10px 14px 10px 14px ;
    border: none;
  }
  .left-section .search-box i{
    background: var(--nav-btn-color);
    padding: 10px 10px 11px 10px;
    /* filter: invert(1); */
  }

  .right-section{
    margin-right: 20px;
  }
  .right-section ul li{
    padding: 10px;
  }
  .right-section ul li a:hover, .log-in p:hover {
    text-decoration: underline;
    color: var(--login-color);
    cursor: pointer;
  }
  .log-in p{
    padding: 10px;
    color: var(--login-color);
  }
  .log-in .btn{
    padding: 10px;
    background: var(--btn-background-color);
    color: #fff;
    font-weight: 600;
    border: 1px solid var(--btn-border-color);
  }
  .log-in .btn:hover{
    background: var(--nav-btn-hover-color);
    cursor: pointer;
  }
  .button .btn:hover{
    background: #fff;
    color: #00419e;
  }
  #up{
    display: none;
  }
  #up.active{
    display: inline-block;
  }
  #down{
    display: inline-block;
  }
  #down.active{
    display: none;
  }
  .search,.menu-logo{
    display: none;
  }
  .menu-page{
    display: none;
  }

  /* floating box styling */
  #online-degrees{
    z-index:11 ;
    box-shadow: 0 0 5px #333;
    width: 25%;
    position: absolute;
    top: 45px;
    left: 48%;
    background: #fff;
    border: none;
    border-radius: 5px;
    display: none;
  }
  #online-degrees.active{
    display: block;
  }
  #explore-card{
    z-index:11 ;
    box-shadow: 0 0 5px #333;
    width: 25%;
    position: absolute;
    top: 55px;
    left: 8%;
    background: #fff;
    border: none;
    border-radius: 5px;
    overflow-y: scroll;
    height: 500px;
    display: none;
  }
  #explore-card.active{
    display: block;
  }
  #explore-card h2{
    font-size: 18px;
    margin: 20px 15px;
  }
  #explore-card .button .btn{
    width: 50%;
    padding: 12px;
    background: var(--background-color);
    border: 2px solid var(--btn-border-color);
    color: var(--nav-btn-color);
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    margin:20px 23px;
  }
  #explore-card .button .btn:hover{
    background-color: var(--btn2-background-hover-color);
    border: 2px solid var(--btn2-border-hover-color);
    color: var(--btn2-hover-font-color);
  }
  .items,.extems{
    margin: 10px 12px;
    cursor: pointer;
    padding: 10px;
    transition: 0.2s ease;
    border-radius: 5px;
  }
  .extems{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .items:hover,.extems:hover{
    background:#f3f8ff ;
  }

  .items h1, .extems h1{
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  .extems h1{
    font-weight: 500;
  }
  .items p{
    font-size: 14px;
  }
  /* Front-page */
  .front{
    justify-content: space-around;
    margin: 80px 0px;
  }
  .text{
    width: 50%;
    padding: 0 0 0 80px;
  }
  .text h1{
    font-size: 4rem;
    line-height: 4.5rem;
    width: 555px;
  }
  .text p{
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 24px 0px;
    width: 555px;
  }
  .text .button{
    width: 90%;
  }
  .text .button .btn1{
    width: 45%;
    padding: 22px;
    background: var(--btn-background-color);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    border: 2px solid var(--btn-border-color);
    cursor: pointer;
  }
  .text .button .btn1:hover{
    background-color: var(--btn1-background-hover-color);
    border: 2px solid var(--btn1-border-hover-color);
  }
  .text .button .btn2{
    width: 52%;
    padding: 22px;
    background: var(--background-color);
    border: 2px solid var(--btn-border-color);
    color:var(--nav-btn-color);
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
  }
  .text .button .btn2:hover{
    background-color: var(--btn2-background-hover-color);
    border: 2px solid var(--btn2-border-hover-color);
    color: var(--btn2-hover-font-color);
  }

  /* collab-section */
  .collab{
    width: 100%;
    background:#f5f5f5 ;
    flex-direction: column;
    padding: 90px 0px;
  }
  .collab h1{
    font-size: 28px;
    margin-bottom: 30px;
  }
  .collab h1 a{
    color: var(--login-color);
  }
  .collab h1 a:hover{
    text-decoration: underline;
  }
  .collab .image{
    width: 80%;
  }
  .collab .image img:hover{
    cursor: pointer;
  }

  /* courses-style */
  .courses1, .courses2, .courses3, .courses4, .courses5{
    margin: 70px 0px;
  }
  .courses1 h1, .courses2 h1, .courses3 h1 , .courses4 h1,.courses5 h1{
    color: #382d8b;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    margin-bottom: 16px;
    margin-left: 70px;
  }
  .courses1 .text, .courses2 .text, .courses3 .text,.courses4 .text,.courses5 .text{
    width: 70%;
    margin-left: 70px;
    padding: 0;

  }
  .courses1 .text h2, .courses2 .text h2, .courses3 .text h2, .courses4 .text h2,.courses5 .text h2{
    font-size: 2.25rem;
    line-height: 3rem;
    color: #1f1f1f;
    font-weight: 400;
  }
  .courses1 .text p, .courses2 .text p, .courses3 .text p, .courses4 .text p,.courses5 .text p{
    color: #1f1f1f;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 400;
    margin-bottom: 32px;
    width: 100%;
  }
  .holder{
    position: relative;
  }
  .scroller1, .scroller2, .scroller3, .scroller4, .scroller5{
    overflow: scroll;
    margin: 0px 60px;
    height: 500px;
  }
  .scroller1::-webkit-scrollbar,.scroller2::-webkit-scrollbar,.scroller3::-webkit-scrollbar,.scroller4::-webkit-scrollbar, .scroller5::-webkit-scrollbar {
    -webkit-appearance: none;
 }
 .left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20px;
  background: transparent;
  padding: 10px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
.right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 20px;
  padding: 10px;
  border-radius: 15px;
  background: transparent;
  border: none;
  cursor: pointer;
}
  .container , .vessel{
    min-width: 21.7%;
    overflow: hidden;
    margin-right: 31px;
    margin-left: 10px;
    transition: .3s ease;
  }
  .courses4 .container,.courses5 .container{
    border: 1px solid #E8E8E8;
  }
  .container:hover, .vessel:hover{
    box-shadow: 0 0 5px #333;
    cursor: pointer;
  }

  .container .box{
    display: inline-block;
    background-color: #00419e;
    position: relative;
    width: 100%;
  }
  .courses4 .container .box,.courses5 .container .box{
    background-color: #fff;
  }
  .box .banner{
    width: 100%;
  }
  .box .banner img{
    width: 100%;
  }
  .box .logo{
    position: absolute;
    z-index: 3;
    width: 72px;
    height: 72px;
    padding: 8px;
    top: 96px;
    left: 24px;
    right: unset;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #e5e7e8;
  }
  .box .logo img{
    width: 100%;
  }
  .box .details{
    position: relative;
    width: 100%;
    height: 180px;
    background: rgb(0, 37, 93);
  }
  .courses4 .box .details,.courses5 .box .details{
    background: #fff;
  }
  .box .details::after{
    content: " ";
    position: absolute;
    display: block;
    background-image: linear-gradient(135deg, rgb(0, 37, 93), rgb(0, 37, 93));
    width: 100%;
    height: 100%;
    top: -60px;
    left: 0;
    z-index: 1;
    -o-transform: skewY(-10deg);
    -ms-transform: skewY(-10deg);
    -webkit-transform: skewY(-10deg);
    transform: skewY(-10deg);
  }
  .courses4 .box .details::after,.courses5 .box .details::after{
    content: " ";
    position: absolute;
    display: block;
    background-image: linear-gradient(135deg, #fff, #fff);
    width: 100%;
    height: 100%;
    top: -60px;
    left: 0;
    z-index: 1;
    -o-transform: skewY(0deg);
    -ms-transform: skewY(0deg);
    -webkit-transform: skewY(0deg);
    transform: skewY(0deg);
  }
  .name, .provider, .certificate{
    color: #fff;
    position: relative;
    z-index: 2;
  }
  .courses4 .name,.courses4 .provider,.courses4 .certificate,.courses5 .name,.courses5 .provider,.courses5 .certificate{
    color: #0062e4;
    position: relative;
    z-index: 2;
  }
  .name{
    margin-top: 20px;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 400;
    width: 80%;
    margin-left: 20px;
  }
  .provider{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .courses4 .provider,.courses5 .provider{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #666666;
  }
  .certificate{
    text-align: center;
    font-weight: 600;
    position: absolute;
    bottom: 10px;
    bottom: 10px;
    left: 54px;
  }
  .courses4 .certificate, .courses5 .certificate{
    text-align: center;
    font-weight: 600;
    position: absolute;
    bottom: 10px;
    left: 21px;
    color: #666666;
  }
  .explore-link{
    text-align: center;
  }
  .explore-link a{
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--btn2-border-hover-color);
    font-weight: 700;
  }
  .explore-link a:hover{
    text-decoration: underline;
  }
  .vessel{
    width: 25%;
  }
  .vessel .pack,.vessel .packt{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .vessel .pack .banner,.vessel .packt .banner{
    width: 100%;
    margin-bottom: 10px;
  }
  .vessel .pack .banner img, .vessel .packt .banner img{
    width: 100%;
    height: 85px;
  }
  .pack .details, .packt .details{
    margin-left: 15px;
    margin-bottom: 10px;
  }
  .pack .details h2, .packt .details h2{
    font-size: 16px;
    line-height: 21px;
    color: var(--login-color);
    font-weight: 400;
    margin-bottom: 24px;
    width: 80%;
    height: 40px;
  }
  .pack .details p,.packt .details p{
    font-size: 14px;
    color: #1f1f1f;
    font-weight: 400;
    margin-bottom: 30px;
    height: 40px;
  }
  
  .pack .bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 27px;
    background:  rgb(0, 133, 62);
    padding-bottom: 10px;
    
  }
  .packt .bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 27px;
    background:  rgb(153, 0, 51);
    padding-bottom: 10px;
  }
  .pack .bottom::after{
    content: " ";
    position: absolute;
    display: block;
    background-image: linear-gradient(135deg, rgb(0, 133, 62), rgb(0, 133, 62));
    width: 100%;
    height: 100%;
    top: -11px;
    left: 0;
    z-index: -1;
    -o-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
    -webkit-transform: skewY(-4deg);
    transform: skewY(-4deg);
  }
  .packt .bottom::after{
    content: " ";
    position: absolute;
    display: block;
    background-image: linear-gradient(135deg, rgb(153, 0, 51), rgb(153, 0, 51));
    width: 100%;
    height: 100%;
    top: -11px;
    left: 0;
    z-index: -1;
    -o-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
    -webkit-transform: skewY(-4deg);
    transform: skewY(-4deg);
  }
  .pack .bottom::before{
    content: " ";
    position: absolute;
    display: block;
    background-image: linear-gradient(135deg, rgb(0, 133, 62), rgb(0, 133, 62));
    width: 100%;
    height: 100%;
    top: -11px;
    left: 0;
    z-index: -2;
    opacity: 0.5;
    -o-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
    -webkit-transform: skewY(4deg);
    transform: skewY(4deg);
  }
  .packt .bottom::before{
    content: " ";
    position: absolute;
    display: block;
    background-image: linear-gradient(135deg, rgb(153, 0, 51), rgb(153, 0, 51));
    width: 100%;
    height: 100%;
    top: -11px;
    left: 0;
    z-index: -2;
    opacity: 0.5;
    -o-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
    -webkit-transform: skewY(4deg);
    transform: skewY(4deg);
  }
  .pack .bottom p,.packt .bottom p{
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
    color: #fff;
  }
  .pack .bottom img,.packt .bottom img{
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .free{
    position: absolute;
    background: #FFE057;
    z-index: 4;
    top: 135px;
    left: 191px;
    padding: 2px 15px;
    border-radius: 23px;
    font-weight: 600;
  }

  /* Explore-coursera */
  .coursera{
    margin: 70px 70px;
  }
  .coursera h1{
    font-size: 2.25rem;
    line-height: 3rem;
    color: #1f1f1f;
    font-weight: 500;
    margin-bottom: 30px;
  }
  .coursera .strip{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .coursera .strip .image{
    width: 80px;
    height: 80px;
  }
  .coursera .strip .image img{
    width: 100%;
    height: 100%;
  }
  .coursera .strip .type{
    margin-left: 10px;
  }
  .coursera .strip .type p{
    font-weight: 700;
    font-size: 14px;
  }
  .coursera .strip .type span{
    font-size: 14px;
    font-weight: 600;
    color: #5a5a5a;
  }
  .coursera .grid{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 20px;
  }
  .coursera .strip{
    box-shadow: 0 0 2px #5a5a5a;
    border-radius: 3px;
    transition: 0.3s ease;
  }
  .coursera .strip:hover{
    box-shadow: 0 0 5px #333;
    cursor: pointer;
  }
  .photo-block{
    background: #ebf3ff;
    height: 893px;
    position: relative;
    margin: 122px 0px;
  }
  .photo-block img{
    position: absolute;
    top: -45px;
    left: 30%;
  }
  .photo-block .text{
    position: absolute;
    top: 60%;
    left: 23%;
  }
  .photo-block .text h1{
    font-size: 2.25rem;
    line-height: 3rem;
    font-weight: 500;
  }
  .photo-block .text p{
    width: 80%;
  }
  .photo-block .text p a{
    text-decoration: underline;
    color: var(--login-color);
  }
  .photo-block .text p span{
    font-weight: 600;
  }
  .photo-block .btn{
    position: absolute;
    top: 85%;
    left: 29%;
    padding: 13px 28px;
    background: var(--btn-background-color);
    color: #fff;
    font-weight: 600;
    border: 1px solid var(--btn-border-color);
    font-size: 17px;
    border-radius: 3px;
  }
  .photo-block .btn:hover{
    background: var(--nav-btn-hover-color);
    cursor: pointer;
  }

  .community{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
  }
  .community h1{
    font-size: 4rem;
    line-height: 4.5rem;
    width: 60%;
    text-align: center;
    font-weight: 900;
  }
  .community p{
    font-size: 2.25rem;
    line-height: 3rem;
    margin-top: 10px;
  }
  .review{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 40px;
    width: 68%;
  }
  .review h1{
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
    color: rgb(56, 45, 139);
    width: 100%;
    margin: 10px 0 0 0;
  }
  .review .place{
    font-size: 16px;
    line-height: 24px;
    color: rgb(31, 31, 31);
  }
  .review p{
    font-size: 20px;
    line-height: 28px;
    color: rgb(31, 31, 31);
    text-align: center;
  }
  .student1,.student2,.student3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 31%;
  }
  .hr{
    background: rgb(42, 115, 204);
    height: 2px;
    width: 40%;
    margin-top: 10px;
  }
  .business{
    background: #f9f7ef;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 40px;
    padding-top: 20px;
  }
  .font{
    width: 31%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 200px;
  }
  .font .buttons .btn{
    width: 42%;
    padding: 10px;
    background: var(--background-color);
    border: 2px solid var(--btn-border-color);
    color: var(--nav-btn-color);
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 23px;
  }
  .font .buttons .btn:hover{
    background-color: var(--btn2-background-hover-color);
    border: 2px solid var(--btn2-border-hover-color);
    color: var(--btn2-hover-font-color);
  }
  .font h1{
    font-weight: 600;
    font-size: 44px;
    margin-bottom: 35px;
    line-height: 52px;
    color: #1f1f1f;
    margin-left: 22px;

  }
  .font p{
    font-weight: 400;
    line-height: 28px;
    font-size: 20px;
    color: #1f1f1f;
    margin-bottom: 1rem;
    max-width: 90%;
    margin-left: 8px;
  }
  .font .buttons{
    display: flex;
    align-items: center;
    width: 100%;
  }
  .logos{
    width: 50%;
    margin: 40px 0px;
  }
  .logos h2{
    color: #00419e;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .logos .imag1, .logos .imag2, .logos .imag3{
    width: 100%;
    display: flex;
  }
  .logos img{
    width: 11%;
    padding: 5px;
    margin: 2px 16px;
  }

  /* next-step section  */
  .next-step{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 0;
  }
  .future{
    width: 50%;
  }
  .future h2{
    font-weight: 600;
    font-size: 34px;
    margin-top: 36px;
    margin-bottom: 20px;
    line-height: 52px;
    color: #1f1f1f;
    width: 55%;
  }
  .future p{
    width: 72%;
  }
  .photo img{
    margin-left: 100px;
  }
  .future .btn{
    width: 24%;
    padding: 17px;
    margin-top: 20px;
    background: var(--btn-background-color);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    border: 2px solid var(--btn-border-color);
    cursor: pointer;
  }
  .future .btn:hover{
    background-color: var(--btn1-background-hover-color);
    border: 2px solid var(--btn1-border-hover-color);
  }
  .footer{
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .small{
    display: none;
  }
  .section1,.section2{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 70px;
    padding-top: 50px;
    width: 90%;
  }
  .section1 h1, .section2 h1{
    font-size: 20px;
    margin: 10px 0;
    color: #1f1f1f;
  }
  .section1 a, .section2 a{
    margin: 5px 0;
    font-size: 14px;
  }
  .section1 a:hover, .section2 a:hover{
    text-decoration: underline;
  }
  .box1, .box2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    width: 20%;
  }
  .box3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .box3 img{
    margin-top: 20px;
    cursor: pointer;
  }
  .footer .hr{
    background:#d4d4d4;
    height: 2px;
    width: 90%;
    margin: 40px 0px;
  }
  .copy{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  .copy p{
    font-size: 14px;
  }
  .copy img{
    cursor: pointer;
    margin: 0px 10px;
  }



  /* resonsive design  */

  @media (max-width:414px){
    .nav .button,.nav .search-box,.right-section{
      display: none;
    }
    .nav{
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    .left-section{
      justify-content: center;
      margin-left: 0;
    }
    .search,.menu-logo{
      display: block;
      margin: 0 10px;
    }
    .left-section .logo{
      width: 90%;
    }

    .front .image{
      display:none
    }
    .front .button{
      width: 100%;
      flex-direction: column;
    }
    .front .button .btn1, .front .button .btn2{
      width: 80%;
      margin-top: 10px;
    }
    .text{
      width: 97%;
      text-align: center;
      padding: 5px;
    }
    .text h1{
      width:90% ;
      font-size: 3rem;
      line-height: 3.5rem;
      text-align: left;
    }
    .text p{
      width: 100%;
      text-align: left;
    }


    .collab{
      width: 100%;
      text-align: center;
    }
    .collab h1{
      font-weight: 500;
      width: 90%;
    }
    .collab image, .collab .flex-center{
      display: grid;
      grid-template-columns: repeat(5,auto);
    }
    .collab .image img{
      width: 77%;
      margin: 3px;
    }


    .courses1,.courses2, .courses3, .courses4, .courses5{
      margin: 30px 10px;
    }
    .courses1 h1, .courses1 .text,.courses2 h1, .courses2 .text, .courses3 h1, .courses3 .text, .courses4 h1, .courses4 .text, .courses5 h1, .courses5 .text{
      text-align: left;
      margin: 10px 0px 10px 20px;
      width: 95%;
    }
    .scroller1 ,.scroller2, .scroller3, .scroller4{
      height: auto;
    }
    .container, .vessel{
      min-width: 90%;
    }
    .container .box .name, .container .box .provider{
      width: 95%;
      margin: 15px 10px;
    }
    .container .box .certificate{
      left: 13%;
    }
    .box .logo{
      top: 70px;
    }
    .free{
      left: 65%;
      top: 100px;
    }


    .coursera{
      margin: 40px 20px;
    }
    .coursera .grid{
      display: grid;
      grid-template-columns: repeat(1,auto);
    }



    .photo-block{
      height: 628px;
      margin: 70px 0 35px 0;
    }
    .photo-block img{
      width: 85%;
      left: 8%;
    }
    .photo-block .text{
      top: 42%;
      left: 2%;
    }
    .photo-block .text p{
      width: 96%;
    }
    .photo-block .btn{
      top:91% ;
      left:10% ;
      width: 80%;
    }

    .community h1{
      font-size: 28px;
      line-height: 36px;
    }
    .community p{
      font-size: 15px;
    line-height: 26px;
    }
    .review{
      width: 100%;
      overflow: scroll;
    }
    .student1, .student2, .student3{
      width: 100%;
      margin: 0 97px;
    }



    .business{
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
    }
    .font{
      margin-left: 0px;
      width: 95%;
    }
    .font h1{
      font-weight: 500;
      margin-left: -30px;
      font-size: 37px;
      margin-bottom: 20px;
    }
    .font p{
      font-size: 18px;
      margin-left: -18px;
    }
    .logos{
      width: 100%;
      text-align: center;
    }
    .logos img{
      width: 16%;
      margin: 2px 2px;
    }
    .imag1, .imag2, .imag3{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 22px;
    }
    .font .buttons{
      width: 100%;
      flex-direction: column;
    }
    .font .buttons .btn{
      width: 90%;
      margin-bottom: 10px;
      margin-left: 0;
    }



    .next-step{
      flex-direction: column;
    }
    .photo{
      width: 100%;
    }
    .photo img{
      margin-left: 0;
      width: 90%;
    }
    .future{
      width: 100%;
    }
    .future h2{
      font-weight: 600;
      font-size: 27px;
      margin-top: 25px;
      margin-bottom: 20px;
      margin-left: 20px;
      line-height: 37px;
      color: #1f1f1f;
      width: 92%;
    }
    .future p{
      width: 95%;
      margin-left: 20px;
    }
    .future .btn{
      width: 92%;
      padding: 15px;
      margin-top: 20px;
      margin-left: 20px;
      background: var(--btn-background-color);
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      border-radius: 5px;
      border: 2px solid var(--btn-border-color);
      cursor: pointer;
    }



    .section1{
      flex-direction: column;
      margin:0 0px 0 20px;
    }
    .box1{
      width: 100%;
    }
    .section2{
      display: none;
    }
    .small{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 20px 0px 0 0;
    }
    .small h1{
      font-size: 20px;
      margin: 10px 0;
      color: #1f1f1f;
    }
    .small a{
      margin: 5px 0;
      font-size: 14px;
      
    }
    .small a:hover{
      text-decoration: underline;
    }
    .first{
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin: 0 22px;
    }
    .box2{
      width: 100%;
    }
    .second{
      margin: 20px 22px;
    }

    .box3{
      width: 100%;
    }
    .box3 h1{
      font-size: 18px;
    }
    .bag{
      display: flex;
      justify-content: space-around;
      width: 100%;
    }
    .bag img{
      width: 40%;
    }


    .copy{
      flex-direction: column-reverse;
    }


    #menu-page{
      position: absolute;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      z-index: 9999;
      background: #fff;
      top: 0;
      left: 0;
      width: 100%;
      overflow-y: scroll;
      animation: menu-page 0.6s cubic-bezier(0.175,0.885,0.320,1.275) both;
    }
    @keyframes menu-page {
      0%{
        transform: rotateY(-70deg);
        transform-origin:  left;
        opacity: 0;
      }
      100%{
        transform: rotateY(0deg);
        transform-origin:  left;
        opacity: 1;
      }
    }
    #menu-page.active{
      display: flex;
      top: 0;
      left: 0;
      overflow-y: scroll;
      height: 660px;
      
    }
    .cross{
      padding: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: sticky;
      top: 0;
      z-index: 20;
      background: #fff;
      
    }
    .cross img{
      width: 32%;
    }
    .links{
      display: flex;
      flex-direction: column;
      width: 100%;
      color: #1f1f1f;
      margin-bottom: 52px;
    }
    .links .hr{
      width: 80%;
      margin-left: 40px;
      background: #d7d7d7;
    }
    .links .bar{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 15px;
      padding-left: 10px;
      padding-right: 10px;

    }
    .links .bar a{
      width: 100%;
    }
    .links h1{
      font-size: 18px;
      margin-top: 15px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .butt{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .butt .st{
      width: 80%;
      padding: 17px;
      background: var(--btn-background-color);
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      border-radius: 5px;
      border: 2px solid var(--btn-border-color);
      cursor: pointer;
      margin-bottom: 10px;
    }
    .butt .nd{
      width: 80%;
      padding: 17px;
      background: var(--background-color);
      border: 2px solid var(--btn-border-color);
      color:var(--nav-btn-color);
      font-size: 16px;
      font-weight: 600;
      border-radius: 5px;
      cursor: pointer;
      margin-bottom: 10px;
    }
    #page{
      display: none;
      animation: searchpage .6s cubic-bezier(0.175, 0.885, 0.32, 1.275) both ;
    }
    @keyframes searchpage {
      0%{
        transform: rotateX(70deg);
        transform-origin:  top;
        opacity: 0;
      }
      100%{
        transform: rotateX(0deg);
        transform-origin:  top;
        opacity: 1;
      }
    }
    #page.active{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        background: #fff;
        z-index: 14;
        height: 600px;
        overflow: scroll;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
    #page a{
      /* width: 100%; */
      display: block;
      text-align: center;
      padding-bottom: 10px;
      color: #00419e;
      font-weight: 600;
      font-size: 18px;
    }
    .search-page{
        display: flex;
        width: 90%;
        align-items: center;
        justify-content: space-around;
        border: 1px solid var(--font-color);
        margin-top: 10px;
    }
    .search-page input{
        width: 100%;
        padding: 10px 14px 10px 14px ;
        border: none;
    }
    .search-page i{
        background: var(--nav-btn-color);
        padding: 10px 10px 11px 10px;
        /* filter: invert(1); */
    }
  }
